autopep8>=1.4.4
devscripts>=2.19.4
flake8>=3.7.7
future>=0.17.1
isort>=4.3.20
jedi>=0.13.3
matplotlib>=3.1.0
numpy>=1.16.3
pep8>=1.7.1
pycodestyle>=2.5.0
pyflakes>=2.1.1
pylint>=2.3.1
python-language-server>=0.26.1
scapy>=2.4.0
yapf>=0.27.0
youtube-dl>=2019.1.17
